.ReactTags__tags {
  position: relative;
}

.ReactTags__tagInput {
  width: 200px;
  border-radius: 2px;
  display: inline-block;

  input {
    height: 31px;
    margin: 0;
    font-size: 12px;
    width: 100%;
    border: 1px solid #eee;

    &:focus {
      height: 31px;
      margin: 0;
      font-size: 12px;
      width: 100%;
      border: 1px solid #eee;
    }
  }
}

.ReactTags__selected {
  float: left;

  span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 12px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    cursor: move;
    border-radius: 2px;
  }

  a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
}

.ReactTags__suggestions {
  position: absolute;

  ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
    background: white;
    width: 200px;
  }

  li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;

    mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
    }
  }

  ul li.active {
    background: #b7cfe0;
    cursor: pointer;
  }
}