.login-error-message {
  bottom: .5em;
  color: darken(#ff9494, 15%);
  text-align: center;
  font-weight: bold;
}

.logged-out-message {
  position: absolute;
  text-align: center;
  z-index: 999;
  background-color: rgba(92, 184, 92, .7);
  color: #000;
  width: 100%;
  padding: .4em;
  line-height: 2em;
  font-weight: bold;
  animation-name: anim-log-out;
  animation-duration: 1s;
}

@keyframes anim-log-out {
  0%, 35% {
    width: 35%;
  }
  100% {
    width: 100%;
  }
}