.intro-logo {
  position: relative;
  color: rgba(255, 255, 255, .9);

  > h1 {
    font-size: 58px;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 700;
  }

  > p {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.navbar-light .navbar-nav .copyright-footer {
  color: rgba(0, 0, 0, .8);
}
