.intro-logo {
  position: relative;
  color: rgba(255, 255, 255, .9);
  text-shadow: 1px 1px 5px #171616;

  > h1 {
    font-size: 58px;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 700;
  }

  > p {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.copyright-footer {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 5px #171616;
}
