$logo-color: #5cb85c;
$copyright-link: rgba(0, 0, 0, 0.8);

.intro-logo {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: logo-blink;
  animation-timing-function: ease-in;
  color: darken($logo-color, 20%);
  font-weight: bold;
  margin-top: 1em;
  text-shadow: 1px 1px 1px $logo-color;
}

@keyframes logo-blink {
  80%,
  100% {
    color: darken($logo-color, 20%);
  }

  90% {
    color: darken($logo-color, 30%);
  }
}

.navbar-light .navbar-nav .copyright-footer {
  color: $copyright-link;
}
