.intro-logo {
  position: relative;
  color: rgba(255, 255, 255, .9);
  text-shadow: 1px 1px 5px #171616;

  > h1 {
    font-size: 58px;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 700;
  }

  > p {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.copyright-footer {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 5px #171616;
}

.loader {
  &:before, &:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: loadAnimate 1.8s infinite ease-in-out;
  }

  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: loadAnimate 1.8s infinite ease-in-out;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;

  &:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }

  &:after {
    left: 3.5em;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
  }
}

@-webkit-keyframes loadAnimate {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }

  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}

@keyframes loadAnimate {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }

  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}