.forgot-password {
  color: #999a9c;
  font-size: .9em;

  &:hover {
    color: darken(#999a9c, 20%);
  }

  &:focus {
    color: darken(#999a9c, 20%);
    text-decoration: none;
  }
}

.login-menu-link {
  color: darken(#5cb85c, 20%);

  &.active {
    font-weight: bold;
  }

  &:hover {
    color: darken(#5cb85c, 20%);
  }

  &:focus {
    color: darken(#5cb85c, 20%);
    text-decoration: none;
  }
}

.login-block {
  top: 10em;
}

.input-incorrect {
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-name: pulse-error;
  animation-timing-function: ease-out;
  border: 1px solid #ff9494;
}

@keyframes pulse-error {
  from, to {
    border: 1px solid lighten(#ff9494, 10%);
  }

  50% {
    border: 1px solid darken(#ff9494, 30%);
  }
}
