.chat-discussion-description, .chat-info-description {
  word-wrap: break-word;
}

.my-discussion-labels .label:not(:first-child) {
  margin-left: 1em;
}

.tag-labels .label:not(:first-child) {
  margin-left: .5em;
}

.online-users-chat {
  color: #373a3c;

  &:focus, &:hover {
    outline: none;
    text-decoration: none;
    color: #373a3c;
  }
}

.chat-user-label {
  margin-top: 1%;
}

.chat-area {
  display: inline;
}

.chat-message {
  resize: none;
}