.chat-discussion-description, .chat-info-description {
  word-wrap: break-word;
}

.my-discussion-labels .label:not(:first-child) {
  margin-left: 1em;
}

.tag-labels .label:not(:first-child) {
  margin-left: .5em;
}

.online-users-chat {
  color: #373a3c;

  &:focus, &:hover {
    outline: none;
    text-decoration: none;
    color: #373a3c;
  }
}

.chat-user-label {
  margin-top: 1%;
}

.chat-area {
  .table {
    margin-bottom: 0;
  }

  & > .messages-outer {
    min-height: 20em;
  }

  .messages-inner {
    padding: .5em;
  }

  .chat-messages-area {
    font-size: .8em;

    & > tr > td {
      border-top: 0;
    }
  }

  .message-time {
    width: 10%;
    color: #a7a7a7;
  }

  .message-username {
    text-transform: capitalize;
    color: #449d44;
    font-weight: bold;
  }

  .message-item {
    word-break: break-word;
  }

  .no-messages {
    font-size: 1.2em;
  }
}

.chat-message {
  resize: none;
  font-size: .8em;
}