.chat-discussion-description, .chat-info-description {
  word-wrap: break-word;
}

.my-discussion-labels .label:not(:first-child) {
  margin-left: 1em;
}

.tag-labels .label:not(:first-child) {
  margin-left: .5em;
}

.online-users-chat {
  color: #373a3c;

  &:focus, &:hover {
    outline: none;
    text-decoration: none;
    color: #373a3c;
  }
}

.chat-user-label {
  margin-top: 1%;
}

.chat-area {
  & > .card {
    min-height: 20em;
    overflow-y: auto;
  }

  & > .card-block {
    display: inline;
  }

  .chat-messages-area {
    font-size: .8em;
  }

  .message-time {
    width: 10%;
  }

  .message-username {
    width: 20%;
  }

  .message-item {
    word-break: break-word;
  }

  .no-messages {
    font-size: 1.2em;
  }
}

.chat-message {
  resize: none;
}