@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: Ubuntu, sans-serif, serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #357935, lighten(#357935, 10%));
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}
