@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  font-family: Ubuntu, sans-serif, serif;
}

.background-wrapper {
  background: url(assets/img/background-wrapper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
