.navbar-static {
  z-index: 1;
  position: absolute;
  left: 0;
  min-height: 100%;
  width: 250px;
  transition: 0.3s all linear;
  background: #3c3c3c;
  border-radius: 0;
  padding: 0;
}

.sidebar-list-static {
  & > li {

    &.active {
      background-color: lighten(#5cb85c, 8%);
    }

    & > a {
      padding: .7em;
      width: 100%;

      &:hover {
        background: #303030;
        transition: 0.2s all ease-in-out;
        outline: none;
        color: #fff;
      }
    }

    border-bottom: 1px solid #484848;
  }
}

.navbar-info {
  .navbar-logo {
    color: darken(#5cb85c, 10%);
    font-size: 20px;
    margin: 0 0 10px;
    text-align: center;
    font-weight: 700;
  }

  .navbar-user-info {
    text-align: center;
    color: #fff;
    margin: .5em;
  }
}

.sidebar-list-item {
  margin-left: .5em;
}

.sidebar-link {
  color: #d9d9d9;

  &:focus, &:hover {
    color: #d9d9d9;
  }
}