.content-wrapper {
  transition: .3s padding linear;
}

@media (min-width: 720px) {
  .content-wrapper {
    padding-left: 270px;
  }
}

@media (max-width: 720px) {
  .content-wrapper {
    padding-left: 30px;
  }
}