.my-discussion-card {
  word-wrap: break-word;
  height: 23em;

  & > .card-title {
    text-overflow: ellipsis;
    overflow-x: hidden;
    word-wrap: initial;
    white-space: nowrap;
    width: 70%;
  }

  & > .my-discussion-labels .label:not(:first-child) {
    margin-left: 1em;
  }

  & > .tag-labels .label:not(:first-child) {
    margin-left: .5em;
  }

  & > .discussion-btns {
    position: absolute;
    right: 0;
  }
}

.column-size {
  display: inline-block;
}